@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Lobster&display=swap');


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(8, 119, 242);
  background: linear-gradient(0deg, rgba(8, 119, 242, 1) 0%, rgba(15, 50, 186, 1) 100%);
  font-family: 'Alkatra', cursive;
  text-align: center;
  min-width: 600px;
  color: aliceblue;
  min-height: 100vh;
}

button {
  font-family: 'Alkatra', cursive;
  color: aliceblue;
  font-size: 1rem;
  outline: none;
  border: 1px solid aliceblue;
  border-radius: 5px;
  background-color: transparent;
}

h1 {
  font-size: 3rem;
}

.memory-app {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

button,
img {
  cursor: pointer;
}


img {
  width: 100%;
}

.card-containers {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.card-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-content .front {
  transform: rotateY(90deg);
  transition: all 100ms ease;
}

.card-content .back {
  transform: rotateY(0deg);
  transition-delay: 100ms;
}

.rotated .front {
  transform: rotateY(0deg);
  transition-delay: 100ms;
}

.rotated .back {
  transform: rotateY(90deg);
  transition: all 100ms ease;
}


.front {
  position: absolute;
}

.front,
.back {
  border-radius: 10px;
  border: 1px solid aliceblue;
  box-shadow: 0px 0px 1px 1px aliceblue;
}